.masonry-grid {
  display: flex;
  margin-left: -30px;
  width: auto;
}
.masonry-grid_column {
  padding-left: 30px;
  background-clip: padding-box;
}

.collection-container {
  background-color: rgb(154, 154, 155);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.collection-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.collection-item a {
  text-decoration: none;
}
.collection-item a:hover,
.collection-item a:focus {
  text-decoration: underline;
  color: #2007ff;
}

.collection-image {
  width: 200px;
  height: auto;
  margin-bottom: 10px;
}

.collection-title {
  color: rgb(255, 255, 8);
  text-decoration: inherit;
  font-weight: bold;
}

.centered-heading {
  font-family: "Rubik Glitch Pop", system-ui;
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
  font-weight: 500;
  font-style: normal;
  font-size: min(18vw, 100px);
}
