.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: #333;
  color: white;
  padding: 10px 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 0 15px;
}

.navbar a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .about-container {
    padding: 10px;
  }

  h1 {
    font-size: 2rem;
  }
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.navbar a.admin-link {
  opacity: 0; /* Make the link invisible by default */
  transition: opacity 0.5s ease; /* Smooth transition for the opacity change */
}

.navbar a.admin-link:hover {
  opacity: 1; /* Make the link visible on hover */
}